<%= form_with(model: product, local: true, class: "js-form") do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control'%>
  </div>

  <div class="field form-group">
    <%= form.label :money %>
    <%= form.text_field :money, class: 'form-control'%>
  </div>

  <div class="field form-group">
    <%= form.label :start_at %>
    <%= form.time_select :start_at, class: 'form-control'%>
  </div>

  <div class="field form-group">
    <%= form.label :end_at %>
    <%= form.time_select :end_at, class: 'form-control'%>
  </div>

  <div class="field form-group">
    <%= form.label :currency %>
    <select name="product[currency]", class= 'form-control fine'>
      <option selected="selected" value="NTD">NTD</option>
      <option value="USD">USD</option>
      <option value="HKD">HKD</option>
    </select>
  </div>

  <div class="field form-group">
    <%= form.label :tag_list %>
    <select name="product[tag_list][]" multiple='true multiple', class= 'form-control nice'>
      <option  selected="selected" value="tag1">tag1</option>
      <option  selected="selected" value="tag2">tag2</option>
      <option  selected="selected" value="tag3">tag3</option>
    </select>
  </div>

  <div class="actions">
    <%= form.submit 'submit' 'submit', class: 'js-submit-btn btn btn-primary'%>
  </div>
<% end %>
<%# 
<div class="container">
    <div class="row">
        <div class='col-sm-6'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker();
            });
        </script>
    </div>
</div> %>


<script>
$( document ).ready(function() {
  
    $(".fine").select2({
      tags: true
    });

    $(".nice").select2({
        tags: true,
        tokenSeparators: [',', ' ']
    });


});
</script>
